certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
requests==2.32.3
urllib3==2.3.0
flask
dropbox
pytz
selenium
webdriver-manager
instagrapi
Pillow>=8.1.1
moviepy>=1.0.3
imageio[ffmpeg]
setuptools
requests